@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --card: #f8fafc;
  --card-foreground: #0f172a;

  --border: #e2e8f0;
  --muted: #64748b;

  --primary: #4f46e5;
  --primary-foreground: #ffffff;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;

  --card: #0f172a;
  --card-foreground: #f8fafc;

  --border: #1e293b;
  --muted: #94a3b8;

  --primary: #6366f1;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
  --color-muted: var(--muted);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}


@layer base {
    html,
    body,
    #root {
    min-height: 100%;
    }

    html {
    background-color: var(--background);
    color: var(--foreground);
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Cinzel", serif;
        font-weight: 700;
        letter-spacing: 0.02em;
    }

    .logo-font {
        font-family: "Cinzel", serif;
        font-weight: 700;
        letter-spacing: 0.04em;
        }
}